body {
  background-color: gray;
}

h1 {
  background-color: rgb(77, 74, 74);
  color: orange;
  text-align: center;
  font-family: sans-serif;
  border-radius: 15px;
}

h2 {
  background-color: rgb(77, 74, 74);
  color: orange;
  text-align: center;
  font-family: sans-serif;
  border-radius: 15px;
}

.item {
  border: solid 10px black;
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100px;
}

.item:hover {
  border-color: goldenrod;
}

p {
  text-align: center;
  width: 400px;
  height: 200px;
}

#satsCanBuy {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#satsPerUsd {
  background-color: black;
  color: gold;
  text-align: center;
  font-size: x-large;
  font-style: italic;
  font-family: sans-serif;
  border-radius: 15px;
}

#cbForm {
  background-color: rgb(46, 43, 43);
  color: gold;
  text-align: center;
  font-weight: 900;
  font-size: larger;
  border-radius: 25px;
  padding: 25px;
}

#costBasisCalc {
  text-align: center;
  font-size: x-large;
  color: orange;
  background-color: rgb(46, 43, 43);
  border-radius: 25px;
  padding: 15px;
}

#avgcar {
  background-image: url(images/basicCar.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  font-weight: bolder;
  color: white;
  font-size: xx-large;
  padding-top: 75px;
}

#lambo {
  background-image: url(images/Lamborghini_Aventador_LP700-4_Orange.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  font-weight: bolder;
  color: white;
  font-size: xx-large;
  padding-top: 75px;
}

#avghouse {
  background-image: url(images/avgHouse.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  font-weight: bolder;
  color: white;
  font-size: xx-large;
  padding-top: 75px;
}

#citadel {
  background-image: url(images/citadel.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  font-weight: bolder;
  color: white;
  font-size: xx-large;
  padding-top: 75px;
}

#costBasis {
  margin-left: auto;
  margin-right: auto;
}
